#table, #table tr {
  width: 100%;
}

#table td {
  padding-left: 15px;
  padding-block: 3px;
}

#table tr:nth-child(odd) {
  background-color: var(--gray2);
}

#table tr:nth-child(even) {
  background-color: var(--gray3);
}