.journal {
  --sidebar-panel-bg: var(--gray1);
  --content-panel-bg: var(--gray1);
  --top-header-height: 34px;
  --top-header-content-side-bg: var(--sidebar-panel-bg);
}

.journal [data-journal-main-content-panel] > section {
  height: 100%;
}

#journalTitlebar > * {
  flex-shrink: 0;
}