html {
  --app-background-color: var(--gray1);
  --gray1: #111111;
  --gray2: #191919;
  --gray3: #222222;
  --gray4: #2A2A2A;
  --gray5: #313131;
  --gray6: #3A3A3A;
  --gray7: #484848;
  --gray8: #484848;
  --gray9: #6E6E6E;
  --gray10: #7B7B7B;
  --gray11: #B4B4B4;
  --gray12: #EEEEEE;
  /* ... */
  --crimson3: #381525;
  --crimson9: #E93D82;
  /* ... */
  --blue3: #0D2847;
  --blue5: #004074;
  --blue6: #104D87;
  --blue8: #2870BD;
  --blue9: #0090FF;
  --blue10: #3B9EFF;
  /* ... */
  --tomato9: #E54D2E;
  --tomato8: #AC4D39;
  /* ... */
  --plum9: #AB4ABA;
  /* ... */
  --red5: #611623;
  --red7: #8C333A;
  --red9: #E5484D;
  --red10: #EC5D5E;
  color-scheme: dark !important;
}