@import url('./scrollbar.css');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #duck {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: var(--app-background-color);
}

#duck {
  position: fixed;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  border: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

button {
  cursor: pointer;
  transition: 0.15s ease-out;
}

input:focus {
  border: none;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

a {
  cursor: pointer;
  text-decoration: none;
}

[app-just-an-anchor], a[href] {
  color: var(--blue10);
}

[app-just-an-anchor]:hover, a[href]:hover {
  text-decoration: underline;
}