[app-scrollbar] {
  --sb-track-color: var(--gray3);
  --sb-thumb-color: var(--gray4);
  --sb-border-radius: 3px;
  --sb-thumb-pad: 1px;
  --sb-size: 7px;
  will-change: transform;
}

[app-scrollbar-vertical] {
  overflow-y: scroll;
}

[app-scrollbar-horizontal] {
  overflow-x: scroll;
}

/* you have to manually change the scroll bar size for yourself */
[app-scrollbar]::-webkit-scrollbar {
  width: var(--sb-size);
  height: var(--sb-size);
}

[app-scrollbar]::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: var(--sb-border-radius);
}

[app-scrollbar]::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: var(--sb-border-radius);
  border: var(--sb-thumb-pad) solid var(--sb-track-color);
}

[app-invs-scrollbar]::-webkit-scrollbar {
  display: none;
}

@supports not selector(::-webkit-scrollbar) {
  [app-scrollbar] {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}