.file {
  color: var(--gray10);
}

.file:hover {
  background-color: var(--gray3);
}

.file .file__icon {
  color: #FDFD96;
  rotate: 270deg;
}

.file[aria-current=page] {
  color: var(--gray12);
  background-color: var(--gray4);
}