html {
  --title-bar-thiccness: 32px;
}

#buttonRow button {
  outline: none;
  background-color: transparent;
  width: var(--title-bar-thiccness);
  height: var(--title-bar-thiccness);
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray11);
}

#buttonRow button:hover {
  color: var(--gray12);
}