#dialog {
  user-select: none;
}

#dialog section:not(:first-child) {
  margin-top: 20px;
}

#dialog section > label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

#dialog p {
  margin-bottom: 10px;
}