/* adapted from https://webspe.net/tools/en/input-range/, thanks! */
#inputRange {
  appearance: none;
  width: 200px;
  height: 12px;
  border-radius: 9999px;
  /**Make sure to update the javascript code as well, in case you want to change this.
   * 
   * linear-gradient(90deg, var(--blue8) 0%, var(--gray7) 0%)
   *                        ^^^^^^^^^^^^^^^   ^^^^^^^^^^^^^^^^^
   *                          active color      inactive color
   */
  background: linear-gradient(90deg, var(--blue8) 0%, var(--gray7) 0%);
  cursor: pointer;
}

#inputRange,
#inputRange::-webkit-slider-thumb,
#inputRange::-moz-range-thumb {
  border: 1px solid var(--gray7);
}

/* Thumb: for Chrome, Safari, Edge */
#inputRange::-webkit-slider-thumb,
#inputRange::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 9999px;
  background: var(--blue10);
  box-shadow: none;
}