#splashScreen {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 20;
  user-select: none;
}

#splashScreen[data-completed=true] [data-background] {
  animation: animation_fadeOut .45s ease-out forwards;
}

#splashScreen[data-completed=true] {
  animation: animation_fadeOut .25s ease-out forwards;
}