.task[data-completed=true] .task__name,
.task[data-completed=true] .task__description {
  text-decoration: line-through;
}

.task[data-completed=true] .task__name {
  color: var(--gray11)
}

.task[data-completed=true] .task__description {
  color: var(--gray10)
}

.task .task__subTaskDropIndicator {
  padding-bottom: 2rem;
}