.description {
  color: var(--gray11)
}

.checked .name {
  color: var(--gray11);
  text-decoration: line-through;
}

.checked .description {
  color: var(--gray10);
  text-decoration: line-through;
}

.todo .editOptions {
  opacity: 0;
}

.todo:hover .editOptions {
  opacity: 1;
}