.video {
  position: relative;
  min-height: 20rem;
  width: 100%;
  height: auto;
  user-select: none;
}

.video > *:not(video) {
  position: absolute;
}

.controls, .controlsInFullscreen {
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0,.89,.27,.98);
}

.video:hover .controls, .controlsInFullscreen {
  opacity: 1;
}

.video::backdrop {
  opacity: 0.65;
  filter: blur(2px);
}