.playlist__trackIndex {
  width: 2rem;
}

.playlist__trackName {
  width: 35%;
  text-align: left;
}

.playlist__trackArtist {
  width: 35%;
  text-align: left;
}

.playlist__trackDuration {
  width: 10%;
  text-align: left;
}

.playlist__trackIcon {
  width: 2.5rem;
}

.playlist__trackItem.playlist__currentTrack,
.playlist__trackItem.playlist__currentTrack:hover {
  background-color: var(--surface0) !important;
}

.playlist__currentlyLoopingOneTrack .playlist__trackItem.playlist__currentTrack,
.playlist__currentlyLoopingOneTrack .playlist__trackItem.playlist__currentTrack:hover {
  background-color: #3862a6 !important;
}

.playlist__trackItem:hover .playlist__trackIndexNumber,
.playlist__trackItem.playlist__currentTrack .playlist__trackIndexNumber {
  display: none;
}

.playlist__trackItem:hover .playlist__trackPlayIcon,
.playlist__trackItem.playlist__currentTrack .playlist__trackPlayIcon {
  display: block;
}