@keyframes fadeAndZoom__leave {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(.9);
    opacity: 0;
  }
}

@keyframes fadeAndZoom__enter {
  0% {
    transform: scale(.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.fadeAndZoomIn {
  animation: fadeAndZoom__enter .2s ease-out;
}

.fadeAndZoomOut {
  animation: fadeAndZoom__leave .15s ease-in forwards;
}