@keyframes animation_fadeAndZoomOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(.9);
    opacity: 0;
  }
}

@keyframes animation_fadeAndZoomIn {
  0% {
    transform: scale(.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes animation_fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes animation_fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.component-dialog-overlay[data-expanded],
.component-context-menu[data-expanded] {
  animation: animation_fadeIn .15s ease-in forwards;
}

.component-dialog-overlay[data-closed],
.component-context-menu[data-closed] {
  animation: animation_fadeOut .2s ease-out forwards;
}

.component-toast-visible > *,
.component-dialog-content[data-expanded],
.component-dropdown-menu[data-expanded],
.component-hover-card[data-expanded],
.component-popover[data-expanded] {
  animation: animation_fadeAndZoomIn .1s ease-in forwards;
}

.component-toast-hidden > *,
.component-dialog-content[data-closed],
.component-dropdown-menu[data-closed],
.component-hover-card[data-closed],
.component-popover[data-close] {
  animation: animation_fadeAndZoomOut .1s ease-out forwards;
}

.component-tooltip[data-expanded] {
  animation: animation_fadeAndZoomIn .08s ease-in forwards;
}

.component-tooltip[data-closed] {
  animation: animation_fadeAndZoomOut .08s ease-out forwards;
}