#root {
  position: fixed;
  width: 100%;
  height: 100%;
}

/**Fix: some component like the select item doesn't display correctly on a dialog component */
body > div[aria-hidden] > [data-popper-positioner] {
  z-index: 1000 !important;
}