.journal {
  --sidebar-panel-bg: var(--gray1);
  --content-panel-bg: var(--gray2);
  --top-header-height: 34px;
  --top-header-content-side-bg: var(--sidebar-panel-bg);
}

.journalFullview {
  --nothing: 1
}

.journalFullview [data-journal-side-bar-panel],
.journalFullview [data-corvu-resizable-handle] {
  display: none;
}

.journalFullview [data-journal-main-content-panel] {
  flex-basis: 100% !important;
}

.journalFullview [data-editor] {
  padding-inline: 8% !important;
}