#progressSlider {
  --slider-thiccness: 10px;
}

#progressSlider, #progressSlider > * {
  height: var(--slider-thiccness);
}

#progressSlider input::-webkit-slider-thumb {
  width: var(--slider-thiccness);
  height: var(--slider-thiccness);
}

#progressSlider > * {
  position: absolute;
}

#progressSlider > #progressSlider__input {
  z-index: 1;
}