#slider {
  --slider-thiccness: 10px;
}

#slider, #slider > * {
  height: var(--slider-thiccness);
}

#slider input::-webkit-slider-thumb {
  width: var(--slider-thiccness);
  height: var(--slider-thiccness);
}

#slider > * {
  position: absolute;
}